<!-- 
  This is your NEW Nav Partial
  Note all links are updated to be absolute (e.g., "/" and "/about")
-->
<nav
  class="flex flex-row z-50 fixed top-4 nav-bar items-center w-full justify-center"
>
  <div
    class="flex chillax font-medium bg-white/80 backdrop-blur-xs border border-white/30 rounded-3xl px-8 py-3 lg:text-lg md:text-sm text-[14.5px] items-center gap-6 lg:gap-10"
  >
    <a href="/" class="text-black hover:text-black transition-colors"
      >Work</a
    >
    <a href="/about" class="text-black hover:text-black transition-colors"
      >About</a
    >
    <a href="/notes" class="text-black hover:text-black transition-colors"
      >Notes</a
    >
    <a href="" id="contact-nav-link" class="text-black hover:text-black transition-colors"
      >Contact</a
    >
  </div>
</nav>