<!DOCTYPE html>
<html>
  
  <!-- This partial includes your <head> -->
  <%- include('./partials/header.ejs') %>

  <body class="">
    
    <!-- This partial includes your <nav> -->
    <%- include('./partials/nav.ejs') %>

    <!-- 
      This is your PAGE-SPECIFIC content.
      It's the "Coming Soon" message from your HTML.
    -->
    <header>
      <!-- intro text -->
      <h1
        class="text-[55px] lg:text-[7.3rem] mt-32 lg:mt-35 intro leading-13 lg:leading-27 text-black text-center"
      >
      Coming Soon.
      </h1>

      <!-- passionate frontend dev -->
      <h1
        class="text-black lg:text-xl text-[0.9rem] lg:max-w-4xl mx-auto font-medium text-center mt-12 lg:mt-15"
      >
        Anticipate insightful articles and practical tips.
      </h1>
    </header>
    
    <!-- This partial includes your <footer> -->
 
    
    <!-- This partial includes your chatbox code -->
    <%- include('./partials/chatbox.ejs') %>

  </body>
</html>