/* green bg  */

/* body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at 20% 20%, rgba(255,255,255,0.12), transparent 60%),
              radial-gradient(circle at 80% 30%, rgba(255,255,255,0.10), transparent 60%),
              radial-gradient(circle at 50% 80%, rgba(255,255,255,0.08), transparent 70%),
              linear-gradient(135deg, #4b5d2a 0%, #1e2f2b 60%, #1f4324 100%);
  background-attachment: fixed;
}  */

body {
  background-color: white;
}

.project-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }

/* tech stack animation  */
.tech-card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .tech-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    }


html {  scroll-behavior: smooth;
}
 
/* body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: radial-gradient(circle at 50% 50%, #E7AD99 0%, #A0430A 50%, #733007 100%);
  background-size: 175% 175%; 
  animation: amberPulse 10s ease-in-out infinite; 
}

@keyframes amberPulse {
  0% {
    background-position: 10% 80%;
    background-size: 175% 175%;
  }
  50% {

    background-position: 90% 20%;
    background-size: 150% 150%; 
  }
  100% {
    background-position: 10% 80%;
    background-size: 175% 175%;
  }
} */

